<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>First Review</title>
	<style type="text/css">body{background-color:#e9ac40;font-size:16px;}.container{width:100%;max-width:600px;background-color:#fff;color:#202020;font-family:Helvetica;margin:auto}.content{padding:20px}img{display:block;width:90%;height:auto;max-width:339px}.center{margin:0 auto;text-align:center}.button{background-color:#00aeff;color:#fff;text-decoration:none;padding:15px 25px;border-radius:8px}.p20{padding-top:20px;padding-bottom:20px}h2{font-size:22px}.header,.footer{background:#FAFAFA;padding:9px 0}.footer{border-top:solid 2px #eaeaea}p{line-height:150%;margin-top:20px}</style>
</head>
<body>
	<div class="container">
		<div class="header"></div>
		<div class="content">
			<img alt="logo" src="https://cryptocanary.app/img/cryptocanaryLogo.png" class="center">
			<h2>Thank you for writing your 1st review!</h2>
			<p>You just helped all the newbies who visit and browse CryptoCanary by sharing your experiences with them.</p>
			<p>You would be <b><i>even more</i></b> helpful if you could do the following:</p>
			<ol>
				<li>Share your review with your fellow crypto communities:<br>
					<a href="{{link}}">{{link}}</a>
				</li>
				<li>Write more reviews! It doesn't have to be a project you like... if you review a project that you <b><u>dislike</u></b>, that would be super valuable as well.</li>
			</ol>
			<p>Once again, we appreciate you!</p>
			<p>Best,<br>Kevin</p>
			<br>
			<p>Don't want to see these emails? <a class="link" href="{{link2}}" target="_blank">Manage email notification settings</a></p>
			<p>Canary Reviews LLC<br>
				4144 N 44th St Suite 6<br>
				Phoenix, AZ 85018 USA
			</p>
		</div>
		<div class="footer"></div>
	</div>
</body>
</html>
