<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>New Comment</title>
	<style type="text/css">
		body {
			background-color: #e9ac40;
		}
        h2 {
            font-size: 22px;
        }
        p {
            line-height: 150%;
            margin-top: 25px;
        }
		a {
			cursor: pointer;
		}
		.container {
			width: 100%;
			max-width: 600px;
			background-color: #fff;
			color: #202020;
			font-family: Helvetica;
			font-size: 16px;
			margin: auto;
		}
        .content {
            padding: 20px;
        }
		img {
			display:block;
			width: 90%;
			height: auto;
			max-width: 339px;
		}
		.center {
			margin: 0 auto;
			text-align: center;
		}
		.button {
			background-color: #00aeff;
			color: #fff;
			font-weight: bolder;
			text-decoration: none;
			padding: 13px;
			border: none;
			border-radius: 8px;
			font-size: 16px;
		}
        .header,.footer {
            background: #FAFAFA;
            padding: 9px 0px;
        }
        .footer{
            border-top: solid 2px #eaeaea;
        }
		.link {
			text-decoration: underline;
			color: #007C89;
		}
	</style>
</head>
<body>
	<div class="container">
        <div class="header"></div>
		<div class="content">
            <img alt="logo" src="https://cryptocanary.app/img/cryptocanaryLogo.png" class="center">
            <h2>Someone just commented on your review! </h2>
            <p>{{user}} wrote a comment on your {{project}} review.</p>
			<p>Here's a snippet of the comment:<br><i>"{{snippet}}"</i></p>
			<p style="margin-top: 30px;">You should reply by clicking below:</p>
			<p class="center"><a href="{{link}}" target="_blank"><button class="button">Reply now!</button></a></p>
			<p style="margin-top: 30px;">Best,<br>Kevin</p>
			<br>
			<p>Don't want to see these emails? <a class="link" href="{{link2}}" target="_blank">Manage email notification settings</a></p>
			<p>Canary Reviews LLC<br>
				4144 N 44th St Suite 6<br>
				Phoenix, AZ 85018 USA
			</p>
        </div>
        <div class="footer">
        </div>
	</div>
</body>
</html>
