<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Reset Password</title>
	<style type="text/css">
		body {
			background-color: #e9ac40;
		}
        h2 {
            font-size: 22px;
        }
        p {
            line-height: 230%;
            margin-top: 35px;
        }
		.container {
			width: 100%;
			max-width: 600px;
			background-color: #fff;
			color: #202020;
			font-family: Helvetica;
			font-size: 16px;
			margin: auto;
		}
        .content {
            padding: 18px;
        }
		img {
			display:block;
			width: 90%;
			height: auto;
			max-width: 339px;
		}
		.center {
			margin: 0 auto;
			text-align: center;
		}
        .header,.footer {
            background: #FAFAFA;
            padding: 9px 0px;
        }
        .footer{
            border-top: solid 2px #eaeaea;
        }
		.link {
			text-decoration: underline;
			color: #007C89;
		}
	</style>
</head>
<body>
	<div class="container">
        <div class="header"></div>
		<div class="content">
            <img alt="logo" src="https://cryptocanary.app/img/cryptocanaryLogo.png" class="center">
            <h2>Forgot your password?</h2>
            <p>No problem, here's your reset code: <strong>{{resetCode}}</strong> <br>If you need further help, just respond to this email! </p>

			<p style="margin-top: 30px;">Best,<br>Kevin</p>
		</div>
        <div class="footer">
        </div>
	</div>
</body>
</html>
