html {
	overflow-x: hidden:
}
body {
	font-family: 'Inter', Helvetica, sans-serif;
	font-weight: 400;
	color: #362e2c;
	background-color: #f6f6f5;
	overflow-x: hidden:
}
h1,h2,h3,h4,h5{
	font-family: 'Sonny Gothic', Helvetica, sans-serif;
	color: #362e2c;
}
main{
	padding: 50px 0px;
	background-color: #fff;
}
p {
	font-family: 'Inter', Helvetica, sans-serif;
	overflow-wrap: break-word;
}
a {
	color: #1879c7;
	overflow-wrap: break-word;
}
.fa2 {
	font-size: 2rem;
}
#lastReview {
	background-color: #f6f6f5;
}
#insight, #saying, #fingertips, #browse, #top10Risky, #lastReview, #why{
	padding: 50px 0px;
}
#browse {
	color: #00a2ee;
}
#Map {
	background-color: #F3B333;
	color: #362e2c;
}
#intro {
	padding: 50px 0px 50px 0px;
}
input {
	font-family: FontAwesome, 'Inter', Helvetica, sans-serif;
}
#intro h1 {
	font-weight: 650;
	padding: 0px;
	line-height: 55px;
}
#intro .banner-sub {
	font-weight: 100;
	font-size: 18px;
	margin-top: 30px;
}
#reviewPart{
	background-color: #f8f8f8;
}
#browse h2 {
	color: #3b3b3b;
	font-size: 24px;
	font-weight: 800;
	margin: 0; padding: 0 !important;
}

#telegram {
	background-color: #e6e4e4;
	font-size: 1rem;
	padding: 70px 0px;
}
#telegram h4 {
	font-weight: 600;
	font-size: 24px;
}
#overallRating {
	background-color: #fff;
	padding: 20px 0px;
	border-radius: 5px;
}
#popularTopics {
	background-color: #fff;
	border-radius: 15px 15px 0px 0px;
}
#testimonyBG {
	padding: 30px 0px;
	background: url('img/testimonybg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
footer {
	padding-bottom: 50px;
	padding-top: 50px;
	background-color: #fff;
}
.greyBG {
	background-color: #f6f6f5;
}
.whiteBG {
	background-color: #fff;
}
.landingIcon {
	max-height:120px; max-width: 120px; margin:20px; padding: 10px; border-radius: 15px;
}
.navbar-light .navbar-toggler {
	color: #fff;
}
.header .container {
	margin: 35px auto;
}
.bg-light {
	background-color: #f6f6f5;
}
.main-navbar .nav-item{
	font-size: 13px;
	font-weight: 600;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	padding: 0px 10px;

}
.main-navbar .rounded-blue {
	background: #00a2ee;
	color: #ffffff;
	font-size: 13px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	padding: 5px 30px !important;
}

.searchBT{
	border-radius: 0px 4px 4px 0px;
	/* width:190px; */
	width: 150px;
}
.searchText{
	border-radius: 4px 0px 0px 4px;
}
.easy-autocomplete {
	width: 100%;
	max-width: 600px;
	margin: auto;
}
.easy-autocomplete.eac-square {
	font-family: 'Inter', Helvetica, sans-serif;
}
.eac-square input {
	background-image: url('/img/search.svg');
	background-repeat: no-repeat;
	background-position: left 10px center;
	background-size: 14px;
	height:32px;
}
.alert {
	padding: 0.75rem;
}
.add-new-text {
	margin-top: 50px;
	font-weight: 100;
	color: #a3aac6;
}
.yellow {
	color:#fdc925;
	font-weight: 700;
}
.section-desc {
	color: #3b3b3b;
}
.section-desc h2 {
	font-size: 24px;
	font-weight: 700;
}
.section-desc h2 span {
	font-weight: 1000 !important;
}
.section-cards {
	padding: auto 0px;
}
.btn-rounded {
	padding: 10px 50px;
	border: none;
	border-radius: 30px;
}
.view-more-1 {
	margin-top: 10px;
	background: #00a2ee;
	color: #fff;
	font-size: 16px;
	box-shadow: 0px 10px 20px rgba(0, 162, 238, 0.36);
}
.view-more-2 {
	color: #00a2ee !important;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
	text-decoration: none;
	border: none; background: none;
}
#addReview {
	background-color: #fff;
	padding: 20px 0px;
	border-radius: 5px;
}
.review-card {
	font-size: 13px;
	padding: 20px 10px;
	background: #fff !important;
	font-style: italic;
}
.review-card .review {
	line-height: 1.69;
}
.review-card .review a {
	color: #00a2ee;
	font-style: normal;
	font-weight: 700;
}
.review-card .reviewer {
	margin-top: 23px;
	background: #fff;
	display: flex;
}
.review-card .reviewer .avatar {
	width: 50px;
	margin-right: 5px;
}
.review-card .reviewer .avatar img {
	height: 50px; width: 50px;
}
.review-card .reviewer .username {
	font-weight: 700;
	font-style: normal;
}
.review-card .reviewer .rating {
	font-style: normal;
	font-size: 15px;
	font-weight: 700;
}

.entity-card {
	width: 100%;
	background: #fff;
}
.entity-card .image {
	width: 50px;
}
.entity-card .image img {
}
.entity-card .details {
	padding-left: 5px;
	color: #595959;
	font-weight: 600;
}
.entity-card .details .review-count {
	color: #00a2ee;
	text-transform: uppercase;
	font-size: 10px;
}
.entity-card .details .review-count img {
	width: 14px; height: 14px;
}
.entity-card .rating {
	width: 50px;
	text-align: center;
}
.card-shadow {
	box-shadow: 3px 7px 8px rgba(0, 0, 0, 0.05);
}
.section-cards .foot {
	padding: 13px 0px;
	flex-wrap: none;
	justify-content: space-around;
}
.section-cards .foot label {
	font-size: 13px;
	font-weight: 600;
	color: #595959;
}
.section-cards .foot img {
	height: 17px; width: auto;
}
.category-section {
	justify-content: space-evenly;
}
.category-card {
	margin: 0 12px;
	padding: 30px;
	background: #fff !important;
	box-shadow: 0 51px 56px rgba(14, 37, 85, 0.09);
}
.text-normal {
	font-style: normal !important;
}
.leftBar {
	border-right: 1px solid #333;
}
.color-0 { color: #ff4e4e !important; }
.color-1 { color: #ffe183 !important; }
.color-2 { color: #00cb9b !important; }
.color-3 { color: #a3aac6 !important; }
.bgcolor-0 { background: #ff4e4e !important; }
.bgcolor-1 { background: #ffe183 !important; }
.bgcolor-2 { background: #00cb9b !important; }
.bgcolor-3 { background: #f9f9f9 !important; }

.comment {
	border-left: 2px solid #ccc;
	padding-left: 5px;
}
.contentWidth {
	width: max-content;
	padding: 0px 10px;
}
#advertising{
	background-color: #cbcbcb;
	color: #fff;
	min-height: 100px;
}
.text-black {
	color: #362e2c;
}
.theme-krajee-svg .filled-stars .krajee-icon-star {
	background-image: url('/img/filledStar.svg')
}
.theme-krajee-svg .empty-stars .krajee-icon-star {
	background-image: url('img/emptyStar.svg')
}
.searchWidth {
	width: 70%;
	margin: auto;
	text-align: center;
}
.carousel-indicators .active{
	background-color: #000;
}
.badge-secondary {
	color: #000;
	background-color:#ffa81e;
}
/* Cookie bar */
.cookie-message {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	padding:0 85px 0 20px;
	height: 40px;
	background:#fff;
	box-shadow:0 0 3px #ccc;
	z-index:99
}
.cookie-message a {
	position:absolute;
	top:0;
	*top:-2px;
	right:20px;
	cursor:pointer
}
.cookie-message p,.cookie-message a {
	color:#333;
	font:700 11px/18px Arial;
	margin:.6em 0;
	font-size: 14px;
	font-weight: normal;
}
.blue {
	border-bottom:1px solid #0E83AE;
	background-color:#0990c3;
}
.blue p, .blue a {
	color:#fff
}
/* Small devices (landscape phones, 576px and up) SM */
@media screen and (max-width: 991px) {
	.searchWidth {
		width: 100%;
	}
}
@media screen and (min-width: 576px) and (max-width: 767px) {
	.cookie-message {
		height: 40px;
	}
}
@media screen and (max-width: 571px) {
	.cookie-message {
		height: 60px;
	}
	#word {
		display: block;
		min-height: 120px;
	}
}
/* for iOS devices */
@supports (-webkit-overflow-scrolling: touch) {
	#top, #what, #advantages, #login, #testimonyBG {
		background-size: cover;
		background-attachment: scroll;
	}
}
@media (max-width: 767px) {
	.hidden-md-down {
		display: none !important;
	}
	.warmWelcome {
		padding-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (min-width: 767px) {
	.warmWelcome {
		padding-left: 30px;
		padding-right: 30px;
	}
}
