body {
    background: #333;
}
h3 {
    color: #fff;
}
.container {
    width: 70vw;
    margin: 50px auto;
    min-width: 300px;
}
.chat-box {
    padding: 10px;
    background: #fafafa;
    border-radius: 10px;
}
.connections-section {
    border-right: solid 2px #f0f0f0;
    width: 20vw;
    min-width: 150px;
    padding: 10px;
}
.chat-messages {
    height: 70vh;
    width: 100%;
    overflow-y: scroll;
}
.chat-balloon {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.chat-messages > .user {
    color: #fff;
    background: #007BFF;
}
.chat-messages > .bot {
    color: #221907;
    background: #F3B333;
}
.chat-messages > .error {
    color: #fff;
    background: #D25353;
}
.list {
    list-style: none;
    margin: 0px; padding: 0px;
}
.list li {
    height: 30px;
    padding: 0px 10px;
}
.list li a {
    text-decoration: none;
    font-weight: bolder;
}
.list li button {
    background: none;
    border: none;
    color: #E64980;
    outline: none;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.header .logo {
    width: 40px; height: 40px;
    padding: 5px; margin: 5px;
    border-radius: 20px;
    background-color: #F3B333;

}

.connection-actions button {
    border: none;
    background: #aaa;
    font-size: 10px;
    text-transform: uppercase;
    outline: none;
    font-weight: 700;
    color: #fff;
}
.connection-actions .refresh {
    background: #82C91E;
}
.connection-actions .clear-inactive {
    background: #E64980;
}

.active {
    color: #F3B333;
}
.inactive {
    color: #666;
}
.online {
    color: #82C91E;
}
.offline {
    color: #aaa;
}

.hidden {
    visibility: hidden;
}

.connections-section .toggle-btn {
    position: absolute;
    width: 30px;
    height: 100px;
    font-size: 10px;
    right: -30px;
    font-weight: 500;
    background: #F3B333;
    border: none;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    top: 10vh;
    visibility: hidden;
}

textarea, textarea:focus {
    outline: none;
    box-shadow: none;
}

.sm-only {
    visibility: hidden;
}

@media all and (max-width: 450px) {
    .container {
        width: 90vw;
        height: 95vh;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .chat-messages {
        height:60vh;
    }
    .connections-section {
        position: fixed;
        border-radius: 0px 10px 10px 0px;
        background: #fafafa;
        width: 60vw;
        height: 90vh;
        top: 5vh;
        z-index: 1;
        left: -60vw;
        border-color: #f3b333;
    }
    .connections-section .toggle-btn {
        visibility: visible;
    }
}
